.content{
    margin: 0px;
    text-align: center;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 230px;
    font-weight: bolder;
}
.title{
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.line{
    
    border: 5px solid  black;
}

.dis{
    font-size: 50px;
    padding: 0px;
}